.container {
    margin-bottom: 20%;
}
.inner {
    overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}
.inner:hover img {
    transform: scale(1.5);
}
a {
    color: white;
}
.blockquote {
    font-size: 0.8rem;
}
.flexcontainer {
    display: flex;
}

@media (min-width: 767px) {
    .blockquote {
        font-size: 0.9rem;
    }
    .container {
        margin-bottom: 10%;
    }
}
@media (min-width: 1300px) {
    .blockquote {
        font-size: 1.25rem;
    }
    .container {
        margin-bottom: 5%;
    }
    .scrollDownArrow {
        position: relative;
        bottom: 130px;
    }
}